.container {  display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 4em max-content 4em;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "left20 title right20"
      "left20 main-content right20"
      "left20 footer right20";
  }
  
  .title { grid-area: title; }
  
  .main-content {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "headshot contact"
      "headshot education"
      "bio links";
    grid-area: main-content;
    background-color: cadetblue;
  }
  
  .headshot { grid-area: headshot; }
  
  .contact { grid-area: contact; }
  
  .education { grid-area: education; }
  
  .links { grid-area: links; }
  
  .bio { grid-area: bio; }
  
  .footer { grid-area: footer; }
  
  .left20 { grid-area: left20; }
  
  .right20 { grid-area: right20; }
  